footer {
    /* background-color: rgb(245, 240, 234);*/
    background-image: linear-gradient(to right top, #6b79d1, #6f82d6, #738cdb, #7995e0, #7f9ee4, #7da6e9, #7baeed, #7bb6f1, #72bff6, #69c7f9, #63cffb, #5fd7fb);
     color: rgb(40, 84, 181);
     text-decoration: none;
     height: 13vh;
 }
 .facelogo {
     width: 40px;
     position: fixed;
     bottom: 20px;
     right: 10px;
     border-radius: 10px;
 }