/*dispositivos mobile*/

@media screen and (max-width: 480px) {
    body {
    background-color: red;}
}

/*Tablet*/
@media only screen and (min-width: 481) and (max-width: 960px){
    body {
        background-color: rgb(136, 69, 69);
    }
}

/*Desktop*/
@media only screen and (max-width: 960px) {
    body {
        background-color:  rgb(226, 241, 241);
    }
}